html{
    font-size: 62.5%;
}
    :root{
        --whiteColor:#fff;
        --blackColor:#000;
        --orangeColor:#FA9A05;
        --greyColor:rgb(234,237,237);
    }
    .container{
       display: flex;
       align-items: center;
       justify-content: center;
       padding:2rem;
    }
    .subtotal{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:30rem;
        height: 12rem;
        padding: 2rem;
        background-color: var(--whiteColor);
        border:0.1rem solid #ddd;
        border-radius: 0.3rem;
        font-size: 1.4rem;
    }
    .subtotal > small{
        font-size: 1.2rem;
    }
 
    .subtotal-gift{
        display: flex;
        align-items: center;
    }

    .subtotal-gift > input{
        margin-right: 0.5rem;
    }

    .subtotal > button{
        margin-top: 1rem;
        padding:0.8rem 5rem;
        color: var(--blackColor);
        border:0.1rem solid;
        border-color: #a88734 #9c7e31 #846a29;
        cursor: pointer;
        border-radius: 0.2rem;
        font-size: 1.2rem;
        font-weight: 500;
        background-image: linear-gradient(#fdecc0, var(--orangeColor));
        transition: 0.5s ease-in;
    }
    
    .subtotal > button:hover{
        background-image: linear-gradient(#fce4a9, var(--orangeColor));
    }